body {
  background-image: url("https://cdn.jsdelivr.net/gh/doflake/Picture/Background/4.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}
.container {
  max-width: 960px;
  margin-left: 100px;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
}
table {
  width: 100%;
  white-space: normal;
  word-break: break-all;
}
table code {
  border-radius: 5px;
  width: 100%;
  white-space: normal;
  word-break: break-all;
}
table .gutter {
  display: none;
}
table td.code {
  border: 4px 0px 0px 0px;
  color: #1b8cc9;
}
.hljs-comment,
.hljs-quote {
  color: #878573;
}
.hljs-attribute,
.hljs-link,
.hljs-name,
.hljs-regexp,
.hljs-selector-class,
.hljs-selector-id,
.hljs-tag,
.hljs-template-variable,
.hljs-variable {
  color: #ba6236;
}
.hljs-built_in,
.hljs-builtin-name,
.hljs-literal,
.hljs-meta,
.hljs-number,
.hljs-params,
.hljs-type {
  color: #ae7313;
}
.hljs-bullet,
.hljs-string,
.hljs-symbol {
  color: #7d9726;
}
.hljs-section,
.hljs-title {
  color: #36a166;
}
.hljs-keyword,
.hljs-selector-tag {
  color: #5f9182;
}
.hljs-addition,
.hljs-deletion {
  color: #22221b;
  display: inline-block;
  width: 100%;
}
.hljs-deletion {
  background-color: #ba6236;
}
.hljs-addition {
  background-color: #7d9726;
}
.hljs {
  display: block;
  overflow-x: auto;
  background: #22221b;
  color: #929181;
  padding: 0.5em;
}
.hljs-emphasis {
  font-style: italic;
}
.hljs-strong {
  font-weight: 700;
}
.header {
  margin-top: 2em;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}
.header .blog-title .logo {
  color: #fff;
  font-size: 2em;
  font-family: Consolas;
  text-decoration: none;
}
.header .menu {
  margin: 0;
  padding: 0;
}
.header .menu .menu-item {
  display: inline-block;
  margin-right: 10px;
}
.header .menu .menu-item-link {
  font-weight: bold;
  color: #fff;
  text-decoration: none;
}
.header .menu .menu-item-link:hover {
  color: #368ccb;
}
.post {
  margin: 1em auto;
  padding: 30px 50px;
  background-color: rgba(255,255,255,0.8);
  border: 1px solid #ddd;
  box-shadow: 3px 3px 7px #252525;
  border-radius: 10px;
  transform-origin: center top;
  transition: opacity 0.3s ease-out 0s, transform 0.3s;
  opacity: 1;
}
.posts .post:first-child {
  margin-top: 5px;
}
.posts .post-title {
  font-size: 1.5em;
}
.posts .post-title .post-title-link {
  color: #5c6fda;
  text-decoration: none;
}
.posts .post-content a {
  color: #1198b6;
  text-decoration: none;
}
.posts .post:hover {
  background-color: rgba(255,255,255,0.9);
}
.archive {
  margin: 1em auto;
  padding: 30px 50px;
  background-color: #fff;
  border: 1px solid #ddd;
  box-shadow: 0 0 2px #ddd;
}
.archive .post-archive {
  list-style: none;
  padding: 0;
}
.archive .post-archive .post-item {
  margin: 5px 0;
}
.archive .post-archive .post-item .post-date {
  display: inline-block;
  margin-right: 10px;
  color: #bababa;
}
.archive .post-archive .post-item .post-title {
  color: #368ccb;
  text-decoration: none;
}
.paginator .paginator-next-fa,
.paginator .paginator-next-fa-no,
.paginator .paginator-prev-fa,
.paginator .paginator-prev-fa-no,
.paginator .paginator-current-text {
  border-radius: 5px;
  padding: 6px 6px 6px 6px;
  text-align: center;
  background-color: #fff;
  box-shadow: 2px 2px 5px #252525;
  position: relative;
}
.paginator .paginator-next-fa-no,
.paginator .paginator-prev-fa-no {
  opacity: 0;
}
.paginator .paginator-next-fa,
.paginator .paginator-prev-fa {
  opacity: 1;
}
.paginator .paginator-current-text {
  font-weight: bold;
}
.clock_words {
  font-size: 45px;
  font-weight: bold;
  text-transform: uppercase;
  fill: #000;
  stroke-width: 3px;
  stroke-dasharray: 35, 125;
  animation-name: drawing;
  animation-duration: 8s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.clock_words-1 {
  stroke: #b9bbff;
  animation-delay: 0s;
}
.clock_words-2 {
  stroke: #eb91eb;
  animation-delay: -4s;
}
.theme-meta-clock {
  position: fixed;
  top: 10px;
  right: 5px;
}
@-moz-keyframes drawing {
  100% {
    stroke-dashoffset: -160;
  }
}
@-webkit-keyframes drawing {
  100% {
    stroke-dashoffset: -160;
  }
}
@-o-keyframes drawing {
  100% {
    stroke-dashoffset: -160;
  }
}
@keyframes drawing {
  100% {
    stroke-dashoffset: -160;
  }
}
